{% extends '@core/pages/base.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h3>
                Basket
            </h3>
            <table class="table">
                <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Product
                    </th>
                    <th class="text-right">
                        Total
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        Product One
                    </td>
                    <td class="text-right">
                        $9.99
                    </td>
                </tr>
                <tr>
                    <td>
                        2
                    </td>
                    <td>
                        Product Two, the one with the long name
                    </td>

                    <td class="text-right">
                        $9.99
                    </td>
                </tr>
                <tr class="active">
                    <td></td>
                    <td></td>
                    <td class="text-right">
                        $19.98
                    </td>
                </tr>

                </tbody>
            </table>

            <button type="button" class="btn btn-default pull-right">
                Checkout at Amazon
            </button>
        </div>
        <div class="col-md-2">
        </div>
    </div>

{% endblock %}