{% extends '@core/pages/base.twig' %}

{% block body %}

    <div class="jumbotron">
        <h2>
            Proceeding to Checkout...
        </h2>
        <p>
            some text about what to do if not redirected automatically...
        </p>
        <p>
            <a class="btn btn-primary btn-large" href="#">Learn more</a>
        </p>
    </div>

    <div class="row">
        <div class="col-md-12">
            <img alt="Bootstrap Image Preview" src="https://cdn2.scratch.mit.edu/get_image/user/3250741_90x90.png?v=1440977929.47" class="img-rounded center-block" />
        </div>
    </div>

{% endblock %}